---
import Layout from "@/components/layout.astro";
import Header from "@/components/header.astro";
import { getLangPath, initI18n } from "@/i18n";

const lang = Astro.params.lang;
await initI18n(lang);
export const getStaticPaths = getLangPath;
---

<Layout title="瑞云渲染 - 关于我们" lang={lang}>
  <Header lang={lang} />
  <main>
    <h1>关于我们</h1>
    <div class="about-container">
      <p>瑞云渲染是专业的云渲染解决方案提供商</p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 80px 1rem;
    max-width: 1200px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .about-container {
    text-align: center;
  }
</style>