---
import SvelteBlock from "@/components/svelte/index.svelte";
---

<div>
  <SvelteBlock client:load />
</div>

<style>
  div {
    border: 1px dashed red;
    margin: 10px;
    padding: 10px;
  }
</style>
